table, th {
    border: 1px solid black;
}

.tableHeaderItem {
    padding: 6px;
    padding-left: 40px;
    padding-right: 40px;
}

.monthlyRed {
    background-color: red;
    margin-right: 100px;
}